<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/static/contact.css">
        <title>Contact</title>
    </head>
    <body>
        <nav>
            <div class="container">
                <div class="logo">
                    <a href="/">
                        <img src="/static/logo.png" alt="logo.png">   
                    </a>
                </div>
                <div class="nav-links">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/resume">Resume</a></li>
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="heading">
                <h1>Let's Chat</h1>
                <h5>Feel free to contact me with any inquiries or questions!</h5>
            </div>

            <div class="contact-container">
                <div class="section1">
                    <div class="message">
                        <label for="name">Name</label>
                        <input type="text" id="name" placeholder="">
                        <label for="email">Email</label>
                        <input type="text" id="email" placeholder="">
                        <label for="message">Message</label>
                        <input type="text" id="message" placeholder="">
                        <input type="submit" id="submit_btn" value="Send">
                    </div>
                </div>

                <div class="separator"></div>

                <div class="section2">
                    <h3><i class="fa-solid fa-location-dot"></i> Dhaka, Bangladesh</h3>
                    <h3><i class="fa-solid fa-phone"></i> +8801995061446</h3>
                    <h3><i class="fa-solid fa-envelope"></i> valentina.mithylin12@gmail.com</h3>
                    <h3><i class="fa-brands fa-github"></i> GitHub</h3>
                    <h3><i class="fa-brands fa-linkedin"></i> LinkedIn</h3>
                    <h3><i class="fa-brands fa-hackerrank"></i> HackerRank</h3>
                </div>
            </div>
        </div>
    </body>
</html>