<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/resume.css">
        <title>Resume</title>
    </head>
    <body>
        <nav>
            <div class="container">
                <div class="logo">
                    <a href="/">
                        <img src="/static/logo.png" alt="logo.png">
                    </a>
                </div>
                <div class="nav-links">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/resume">Resume</a></li>
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <h1>Welcome to the Resume Page!</h1>

        </div>
    </body>
</html>